body {
    background-color: rgb(255, 248, 239);
    padding: 5px;
}

h1, h2{
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    color: coral;
    font-weight: bold;
}

h2{
    font-size: 32px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: brown;
    background-color: burlywood;
    font-size: 23px;
    font-family: 'Times New Roman', serif;
    text-align: center;
    display: inline-block;
    width: 400px;
    border: 1px solid red;
    padding: 5px;
}

img {
    width: 500px;
    height: auto;
}

p, li{
    font-family: Garamond, sans-serif;
    font-size: 18px;
    color: darkslategray;
}

.container {
    background-color: rgb(255, 228, 192);
    border: 2px solid coral;
    display: block;    
    text-align: center;
    width: 500px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.copy {
    font-size: smaller;
    color: black;
}